body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:303px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:303px;
  height:634px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:303px;
  height:634px;
}
#u2 {
  position:absolute;
  left:2px;
  top:309px;
  width:299px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:453px;
}
#u3 {
  position:absolute;
  left:25px;
  top:93px;
  width:256px;
  height:453px;
}
#u4 {
  position:absolute;
  left:2px;
  top:218px;
  width:252px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7_div {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:48px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7 {
  position:absolute;
  left:98px;
  top:190px;
  width:48px;
  height:48px;
}
#u8 {
  position:absolute;
  left:2px;
  top:16px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:43px;
}
#u9 {
  position:absolute;
  left:102px;
  top:192px;
  width:40px;
  height:43px;
}
#u10 {
  position:absolute;
  left:2px;
  top:14px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:11px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:9px;
  color:#FFFFFF;
}
#u11 {
  position:absolute;
  left:102px;
  top:238px;
  width:41px;
  height:11px;
  font-size:9px;
  color:#FFFFFF;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  white-space:nowrap;
}
